body	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
	background: #F1F2EE;
	color: #000000;
	margin: 0px;
}

.submenu {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.strike	{
	text-decoration: line-through; 
}

TD { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
}

.tiny {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px; 
 }

H1 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	font-weight : bold; 
	color : #707B92 ;
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight : bold;
	color : #707B92;
	letter-spacing: 1px;

}

h3 { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px; 
	font-weight : bold; 
	color : #707B92 ; 
	border: 1px solid #707B92; 
	margin-right: 11px; 
	background-color: #D9D9E6; 
	padding: 2px; 
}

.devlist {
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	border: 1px solid #B6BECB;
	background-color: #EBEDE7;
	padding: 4px;
	letter-spacing: 2px;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	border: 1px solid #B6BECB;
	background-color: #EBEDE7;
	padding: 4px;
	letter-spacing: 2px;
}

h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	color : #000000;
	letter-spacing: 2px;

}

a:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : underline; 
	color : #000000 ;
}
a:active { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : underline; 
	color : #000000 ;
}
a:visited { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : underline; 
	color : #000000 ;
}
a:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : underline; 
	color : #8888CC ;
}

a.tiny:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 9px; 
	text-decoration : underline; 
	color : #000000 ;
}
a.tiny:active { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 9px; 
	text-decoration : underline; 
	color : #000000 ;
}
a.tiny:visited { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 9px; 
	text-decoration : underline; 
	color : #000000 ;
}
a.tiny:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 9px; 
	text-decoration : underline; 
	color : #8888CC ;
}

a.sub:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : none; 
	color : #584D99 ;
}
a.sub:active { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : none; 
	color : #584D99 ;
}
a.sub:visited { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : none; 
	color : #584D99 ;
}
a.sub:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px; 
	text-decoration : underline; 
	color : #584D99 ;
}

a.white:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #FFFFFF ;
}
a.white:active { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #FFFFFF ;
}
a.white:visited { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #FFFFFF ;
}
a.white:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #83B3CC ;
}

a.big:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #000000 ;
}
a.big:active { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #000000 ;
}
a.big:visited { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #000000 ;
}
a.big:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold; 
	text-decoration : none; 
	color : #FFFFFF ;
}

a.big2:link { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold; 
	text-decoration : none; 
	color : #707B92 ;
}
a.big2:active { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold; 
	text-decoration : none; 
	color : #707B92 ;
}
a.big2:visited { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold; 
	text-decoration : none; 
	color : #707B92 ;
}
a.big2:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold; 
	text-decoration : none; 
	color : #8888CC ;
}

.subhead { 
	font-weight : bold; 
	color : #CCCCCC ;
}

.grey { 
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #707B92 ;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight: bold;
	color: #FF0000;
}

.white {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.textfield {
	BORDER-RIGHT: #B3B3CC 1px inset;
	BORDER-TOP: #B3B3CC 1px inset;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	BACKGROUND: #D9D9E6;
	BORDER-LEFT: #B3B3CC 1px inset;
	WIDTH: 10em;
	COLOR: #000000;
	BORDER-BOTTOM: #B3B3CC 1px inset;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.textfield2 {
	BORDER-RIGHT: #B3B3CC 1px inset;
	BORDER-TOP: #B3B3CC 1px inset;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	BACKGROUND: #D9D9E6;
	BORDER-LEFT: #B3B3CC 1px inset;
	WIDTH: 20em;
	COLOR: #000000;
	BORDER-BOTTOM: #B3B3CC 1px inset;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

INPUT[type="submit"] { font: 11px Helvetica, Arial, Geneva, Verdana, sans-serif; border: solid thin #000000; background: #707B92; color: #FFFFFF;  -moz-border-radius: 9px; }
INPUT[type="submit"]:hover { font: 11px Helvetica, Arial, Geneva, Verdana, sans-serif; border: solid thin #707B92; background: #D9D9E6; color: #000000; -moz-border-radius: 9px; }
input[type="submit"].enable { font: 11px helvetica; border: solid thin #000000; background: #008347; color: #FFFFFF;  -moz-border-radius: 9px; }
input[type="submit"].enable:hover { font: 11px helvetica; border: solid thin #008347; background: #D9D9E6; color: #000000; -moz-border-radius: 9px; }
input[type="submit"].disable { font: 11px helvetica; border: solid thin #000000; background: #FF0000; color: #000000;  -moz-border-radius: 9px; }
input[type="submit"].disable:hover { font: 11px helvetica; border: solid thin #FF0000; background: #D9D9E6; color: #000000; -moz-border-radius: 9px; }
INPUT[type="button"] { font: 11px Helvetica, Arial, Geneva, Verdana, sans-serif; border: solid thin #000000; background: #707B92; color: #FFFFFF;  -moz-border-radius: 9px; }
INPUT[type="button"]:hover { font: 11px Helvetica, Arial, Geneva, Verdana, sans-serif; border: solid thin #707B92; background: #D9D9E6; color: #000000; -moz-border-radius: 9px; }
INPUT[type="reset"] { font: 11px Helvetica, Arial, Geneva, Verdana, sans-serif; border: solid thin #000000; background: #707B92; color: #FFFFFF;  -moz-border-radius: 9px; }
INPUT[type="reset"]:hover { font: 11px Helvetica, Arial, Geneva, Verdana, sans-serif; border: solid thin #707B92; background: #D9D9E6; color: #000000; -moz-border-radius: 9px; }
.maintable {
	background-color: #FFFFFF;
}
.centertd {
	background-image: url(/images/general_background.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.menutable {
	border: 1px solid #B6BECB;
}
.menulive {
	border: 1px solid #B6BECB;
	background-color: #FFECB3;
}
.menutitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bolder;
	color: #FF0000;
	background-image: url(/images/titlemenu_bg.png);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B6BECB;


}
.bigmenutd {
	background-color: #D6DBCB;
}
.announcement {
	background-color: #FFCC33;
	margin: 1px;
	padding: 2px;
}
